.navigation-button {
    background-color: rgb(44, 107, 176);
    border: 1px solid white;
    color: white;
    margin: 2px;
    width: 100px;
    height: 35px;
    font-size: 10px;
    justify-content: center;
}

.navigation-button:focus {
    outline: none;
}

.navigation-button:hover {
    background-color: rgb(76, 126, 29);
}
.navigation-button:disabled {
    background: grey;
    color: lightgrey;
}