body {
    background-color: rgb(255, 204, 1);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.logo-header {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 50%;
    width: 50%;
}